@model Vezeeta.Models.Rating

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.doctor.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.doctor.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patient.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patient.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntityRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntityRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssistantRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssistantRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalRating)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */  did = Model.DoctorID, pid = Model.PatientID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
