@model Vezeeta.ViewModel.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> سجل بياناتك و انضم الان - فيزيتا</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <link rel="icon" href="~/Content/images/logohead.jfif" />

    <link href="~/Content/css/style.css" rel="stylesheet">

    <style>
        body {
            background-color: rgb(226, 226, 226);
        }

        .card {
            border-radius: 50px;
        }

        .card-header {
            height: 50px;
            background-color: rgb(57, 144, 214);
        }

        .card-title {
            font-size: 20px;
            color: white
        }

        .card-footer {
            background-color: white;
        }

        .container {
            display: flex;
        }

        .row {
            flex: 1 0 200px;
        }


        .field-validation-error {
            color: #ff0000;
        }

        .field-validation-valid {
            display: none;
        }

        .input-validation-error {
            border: 1px solid #ff0000 !important;
            background-color: #ffeeee !important;
        }

        .validation-summary-errors {
            font-weight: bold !important;
            color: #ff0000 !important;
        }

        .validation-summary-valid {
            display: none;
        }
    </style>
</head>

<body>

    <!-- ======= Header ======= -->
    @{
        Html.RenderPartial("_NaveBar");
    }<!-- End Header -->

    <br /><br /><br /><br />

    <div class="container  d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-7 col-sm-11 col-10">
                <div class="card">
                    <div class="card-header">
                        <p class="card-title text-center mb-4"> مرحبا عزيزى المستخدم  </p>

                    </div> <!-- end card head -->
                    <br />



                    <div class="card-body">
                        @using (Html.BeginForm("Register", "Register", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group mb-4 text-right">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2", style = "font-size: 15px; color: gray;" })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", autofocus = "" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group mb-4 text-right">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2", style = "font-size: 15px; color: gray;" })
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group mb-4 text-right">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2", style = "font-size: 15px; color: gray;" })
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group  text-right">
                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-4", style = "font-size: 15px; color: gray;" })
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <input type="submit" value="متابعة" class="btn btn-primary" style="margin-left: 30%;margin-top :10px; font-size: 15px; width: 50%;" />
                        }

                    </div>
                </div><!-- end of card -->
            </div><!-- end of col -->
        </div><!-- end of row -->
    </div> <!-- end container -->

    <br />

    <!-- ======= Footer ======= -->
    @{
        Html.RenderPartial("_FooterPView");
    }
    <!-- Main JS File -->
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/JQuery-3.3.1.min.js"></script>
    <script src="~/Content/js/popper.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</body>
</html>

