
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-12  col-md-2 ">
                    <div class="footer-info">

                        <div class="social-links mt-3 mb-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-6  col-md-2  footer-links">
                    <h4>تحتاج للمساعده؟</h4>
                    <ul>
                        <li>@Html.ActionLink("اتصل بنا ", "ContactUs", "ContactUs")</li>
                        <li>@Html.ActionLink(" اتفاقية الخصوصية ", "PrivacyPolity", "PrivacyPolity")</li>
                        <li>@Html.ActionLink(" اتفاقية الخصوصية للاطباء ", "PrivacyPolityDoctor", "PrivacyPolityDoctor")</li>
                        <li>@Html.ActionLink(" شروط الاستخدام ", "TermsOfUse", "TermsOfUse")</li>
                    </ul>
                </div>

                <div class="col-6 col-md-2  footer-links">
                    <h4>هل انت طبيب ؟</h4>
                    <ul>
                        <li>@Html.ActionLink(" انضم الى اطباء فيزيتا ", "RegisterDoctor", "AllSignUpDoctor")</li>
                    </ul>
                </div>
                <div class="col-6 col-md-2  footer-links">
                    <h4>ابحث عن طريق</h4>
                    <ul>
                        <li>@Html.ActionLink(" التخصص ", "Specific", "specific")</li>
                        <li>@Html.ActionLink(" المنطقة ", "City", "City")</li>
                        <li>@Html.ActionLink(" التأمين ", "InsurancePage", "InsurancePage")</li>
                        <li>@Html.ActionLink(" المستشفى ", "HospitalPage", "HospitalPage")</li>
                        <li>@Html.ActionLink(" المركز ", "Center", "CenterPage")</li>


                    </ul>
                </div>
                <div class="col-6 col-md-4  footer-links">
                    <div class="d-none d-md-block ">
                        <h4><img src="~/Content/Images/logo.png" alt=""></h4>
                    </div>
                    <ul>
                        <li>@Html.ActionLink(" من نحن ", "Whowhat", "WhoRW")</li>
                        <li>@Html.ActionLink(" فريق فيزيتا ", "LifeVezeeta", "LifeVezeeta")</li>
                        <li><a href="https://careers.vezeeta.com/">وظائف</a></li>
                        <li>@Html.ActionLink(" الصحافه ", "press", "press")</li>


                    </ul>
                </div>

            </div>
        </div>
    </div>
    </div>
</footer>